In [8]:
# Выполнить один раз в жизни - это установка библиотеки работы с dbf
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\user\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (1.4.4)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (3.4.1)
Requirement already satisfied: fiona>=1.8 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (1.9.1)
Requirement already satisfied: shapely>=1.7 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (2.0.1)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: munch>=2.3.2 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click~=8.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (63.4.1)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2022.9.14)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8->geopandas) (0.4.5)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)

In [11]:
import geopandas as gpd

In [13]:
df = gpd.read_file('OM.DBF')

In [14]:
df.drop(['geometry'], axis = 1, inplace = True) # прибиваю лишнее поле, его добавляет библиотека.

In [15]:
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,TEMP1,TEMP2,TEMP3,TEMP4,TEMP5,TEMP6,TEMP7,TEMP8,TEMP9,TEMP10
0,NaN,11550142,11875144,8670320,10625412,1,1957976,1492,11811122,0,...,100.0,75.1,18.4,11550142.0,11875144.0,8670320.0,10625412.0,1957976.0,11811122.0,100.5
1,001003075000,6405,6405,174,6355,2,0,1,5873,0,...,0.1,2.7,0.0,6405.0,6405.0,174.0,6355.0,0.0,5873.0,109.1
2,001013851000,789,789,158,1364,2,0,1,259,0,...,0.0,20.0,0.0,789.0,789.0,158.0,1364.0,0.0,259.0,304.6
3,001021667000,82968,82968,2,82968,2,0,1,83903,0,...,0.7,0.0,0.0,82968.0,82968.0,2.0,82968.0,0.0,83903.0,98.9
4,001040302000,158708,158710,95,158718,2,0,1,211226,0,...,1.3,0.1,0.0,158708.0,158710.0,95.0,158718.0,0.0,211226.0,75.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,505072011000,5487,5487,15914,7101,2,0,1,8438,0,...,0.0,290.0,0.0,5487.0,5487.0,15914.0,7101.0,0.0,8438.0,65.0
1501,505264635000,2647,2647,10364,1882,2,471,1,5334,0,...,0.0,391.5,25.0,2647.0,2647.0,10364.0,1882.0,471.0,5334.0,49.6
1502,505793306000,652,652,0,652,2,0,1,0,0,...,0.0,0.0,0.0,652.0,652.0,0.0,652.0,0.0,0.0,0.0
1503,506026906000,4687,29434,645,4687,2,4687,1,0,0,...,0.2,13.8,100.0,4687.0,29434.0,645.0,4687.0,4687.0,0.0,0.0
1504,506126883000,0,0,149,66,2,0,1,185,0,...,0.0,0.0,0.0,0.0,0.0,149.0,66.0,0.0,185.0,0.0

In [22]:
sdf = gpd.read_file('spred.DBF')
sdf.drop(['geometry'], axis = 1, inplace = True)
sdf

,PF,KOD,KOD2,OBL,OBL_P,RN,MEST,OKFS,OKOGU,OKOPF,...,STATORGAN,HOLDI,VIDBL,P2HOLDI,DOLGSH,DOLRSH,SOATO,SOATS,PR_SOAT,RASPR
0,1,055726301000,NaN,1,1,208501,1,2323,62010,1131,...,1000,NaN,NaN,1,99.8099,0.0000,1208501000,1208501000,2,22
1,1,029741501000,NaN,1,1,234808,2,2323,62010,1131,...,1000,NaN,NaN,1,99.1403,0.0000,1234808013,1234808013,2,23
2,1,143746901000,NaN,1,0,401368,1,2200,83900,1310,...,1000,NaN,NaN,0,0.0000,0.0000,1401368000,1401368000,2,22
3,1,029741951000,NaN,1,1,234510,1,2200,86090,1131,...,1000,NaN,NaN,0,0.0000,0.0000,1234510000,1234510000,2,23
4,1,029757401000,NaN,1,1,401365,1,1200,62010,1310,...,1000,NaN,NaN,1,0.0000,0.0000,1401365000,1401365000,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,1,304482067000,NaN,7,7,244804,2,2400,86090,1140,...,7000,NaN,NaN,0,0.0000,0.0000,7244804041,7244804041,2,NaN
2288,1,376087887000,NaN,7,7,248501,1,2200,86090,1140,...,7000,NaN,NaN,0,0.0000,0.0000,7248501000,7248501000,2,NaN
2289,1,501216197000,NaN,7,7,244816,2,2400,86090,1132,...,7000,NaN,NaN,0,0.0000,0.0000,7244816036,7244816036,2,22
2290,1,502876567000,NaN,7,7,244860,2,2200,86090,1140,...,7000,NaN,NaN,0,0.0000,0.0000,7244860026,7244860026,2,NaN
2291,1,504097867000,NaN,7,7,401367,1,2200,86090,1310,...,7000,01192,NaN,1,99.7141,99.7141,7401367000,7401367000,2,23

In [28]:
sdf.columns

Index(['PF', 'KOD', 'KOD2', 'OBL', 'OBL_P', 'RN', 'MEST', 'OKFS', 'OKOGU',
       'OKOPF', 'OKED', 'UNP', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8',
       'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'NAME', 'KNAME', 'SOSTN',
       'NASP', 'EZONA', 'TYPPR', 'OKOGU_H', 'DOLGS', 'DOLRS', 'VID',
       'STATORGAN', 'HOLDI', 'VIDBL', 'P2HOLDI', 'DOLGSH', 'DOLRSH', 'SOATO',
       'SOATS', 'PR_SOAT', 'RASPR'],
      dtype='object')

In [32]:
sdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2292 entries, 0 to 2291
Data columns (total 46 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PF         2292 non-null   int64
 1   KOD        2292 non-null   object
 2   KOD2       26 non-null     object
 3   OBL        2292 non-null   object
 4   OBL_P      2292 non-null   object
 5   RN         2292 non-null   object
 6   MEST       2292 non-null   int64
 7   OKFS       2292 non-null   object
 8   OKOGU      2292 non-null   object
 9   OKOPF      2292 non-null   object
 10  OKED       2292 non-null   object
 11  UNP        2291 non-null   object
 12  P1         2292 non-null   int64
 13  P2         2292 non-null   int64
 14  P3         2292 non-null   int64
 15  P4         2292 non-null   int64
 16  P5         2292 non-null   int64
 17  P6         2292 non-null   int64
 18  P7         2292 non-null   int64
 19  P8         2292 non-null   int64
 20  P9         2292 non-null   int64
 21  P10        2292 non-null   int64
 22  P11        2292 non-null   int64
 23  P12        2292 non-null   int64
 24  P13        2292 non-null   int64
 25  P14        2292 non-null   int64
 26  NAME       2292 non-null   object
 27  KNAME      2292 non-null   object
 28  SOSTN      2292 non-null   object
 29  NASP       2292 non-null   object
 30  EZONA      253 non-null    object
 31  TYPPR      2193 non-null   object
 32  OKOGU_H    2292 non-null   object
 33  DOLGS      2292 non-null   float64
 34  DOLRS      2292 non-null   float64
 35  VID        2292 non-null   int64
 36  STATORGAN  2292 non-null   object
 37  HOLDI      347 non-null    object
 38  VIDBL      209 non-null    object
 39  P2HOLDI    2292 non-null   int64
 40  DOLGSH     2292 non-null   float64
 41  DOLRSH     2292 non-null   float64
 42  SOATO      2292 non-null   object
 43  SOATS      2292 non-null   object
 44  PR_SOAT    2292 non-null   int64
 45  RASPR      1892 non-null   object
dtypes: float64(4), int64(19), object(23)
memory usage: 823.8+ KB

In [29]:
sdf['NAME']

0                                       ╬└╬ "╥┼╧╦╬╧╨╚┴╬╨"
1                                              ╬└╬ "─╧╥╩"
2       ╙═╚╥└╨═╬┼ ╧╨┼─╧╨╚▀╥╚┼ "┬┼╨╥┼╩╤-┴╨┼╤╥" ╬╬ "┴┼╦╥╚╟"
3                                    ╬└╬ "╩╬╤╤╬┬╤╩╬┼ ╠╧╬"
4             ├╬╤╙─└╨╤╥┬┼══╬┼ ╧╨┼─╧╨╚▀╥╚┼ "┴╨┼╤╥╠┼╤╥╧╨╬╠"
                              ...
2287                                   ╬╬╬ "─╚┬╚─└═ ╧╦▐╤"
2288                                  ╬╬╬ "╠╚╟ ╠┼─┴┼╦╨╬╤"
2289                                 ╟└╬ "╤┼╨┬╬╦▐╩╤ └├╨╬"
2290                                  ╬╬╬ "╚═┬┼╤╥╨█┴╧╨╬╠"
2291       ╙═╚╥└╨═╬┼ ╧╨┼─╧╨╚▀╥╚┼ "├└╟╤╥╨╬╔╠╬═╥└╞ ╠╬├╚╦┼┬"
Name: NAME, Length: 2292, dtype: object

In [30]:
sdf['KNAME']

0             ╬╥╩╨█╥╬┼ └╩╓╚╬═┼╨═╬┼ ╬┴┘┼╤╥┬╬ "╥┼╧╦╬╧╨╚┴╬╨"
1       ╬╥╩╨█╥╬┼ └╩╓╚╬═┼╨═╬┼ ╬┴┘┼╤╥┬╬ "─╬╠└═╬┬╤╩╚╔ ╧╨╬...
2       ╧╨╬╚╟┬╬─╤╥┬┼══╬┼ ╙═╚╥└╨═╬┼ ╧╨┼─╧╨╚▀╥╚┼ "┬┼╨╥┼╩...
3       ╬╥╩╨█╥╬┼ └╩╓╚╬═┼╨═╬┼ ╬┴┘┼╤╥┬╬ "╩╬╤╤╬┬╤╩╬┼ ╠┼┴┼...
4       ╩╬╠╠╙═└╦▄═╬┼ ╧╨╬╚╟┬╬─╤╥┬┼══╬-╥╬╨├╬┬╬┼ ╙═╚╥└╨═╬...
                              ...
2287    ╬┴┘┼╤╥┬╬ ╤ ╬├╨└═╚╫┼══╬╔ ╬╥┬┼╥╤╥┬┼══╬╤╥▄▐ "─╚┬╚...
2288    ╬┴┘┼╤╥┬╬ ╤ ╬├╨└═╚╫┼══╬╔ ╬╥┬┼╥╤╥┬┼══╬╤╥▄▐ "╠╚╟ ...
2289       ╟└╩╨█╥╬┼ └╩╓╚╬═┼╨═╬┼ ╬┴┘┼╤╥┬╬ "╤┼╨┬╬╦▐╩╤ └├╨╬"
2290    ╬┴┘┼╤╥┬╬ ╤ ╬├╨└═╚╫┼══╬╔ ╬╥┬┼╥╤╥┬┼══╬╤╥▄▐ "╚═┬┼...
2291    ╤╥╨╬╚╥┼╦▄═╬┼ ╙═╚╥└╨═╬┼ ╧╨┼─╧╨╚▀╥╚┼ "├└╟╤╥╨╬╔╠╬...
Name: KNAME, Length: 2292, dtype: object