In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
import math

In [ ]:
# Выполнить один раз в жизни - это установка библиотеки работы с dbf
#!pip install geopandas 
import geopandas as gpd
df = gpd.read_file('OM.DBF', encoding='cp1251')

In [2]:
# прочитайте данные из файла 
i1 = pd.read_excel('PM.xlsx')
i2 = pd.read_excel('OM.xlsx')

In [3]:
i3 = pd.read_excel('PM_NAT.xlsx')
i4 = pd.read_excel('OM_NAT.xlsx')

In [4]:
sprod = pd.read_excel('sprod.xlsx')
pok1 = pd.read_excel('sprod1.xlsx')
sp_nat = pd.read_excel('spzap.xlsx')
sp_nat = sp_nat[["KOD", "KOD_PROD"]]

In [5]:
sp_nat = pd.merge(sp_nat, sprod, how = 'left', on = 'KOD_PROD')

In [6]:
sp1 = pd.read_excel('spred.xlsx')
sps = pd.read_excel('SPS.xlsx')

In [7]:
ok1 = pd.read_excel('PM_OKOGU.xlsx')
ok2 = pd.read_excel('OM_OKOGU.xlsx')

In [8]:
# задаем  следующий порядок следования столбцов 
i1 = i1[["C1", "C3", "C4", "TEMP2"]]
i2 = i2[["C1", "C3", "C4", "TEMP2"]]
i3 = i3[["C12", "C17", "C10"]]
i4 = i4[["C12", "C17", "C10"]]

ok1 = ok1[["C1",  "C4", "TEMP2"]]
ok2 = ok2[["C1",  "C4", "TEMP2"]]

In [9]:
# переименование столбцов СТОИМ
i1 = i1.rename(columns = {'C3':'Объем предыдущий месяц', 'C4':'Запасы предыдущий месяц', 'TEMP2':'соотн предыдущий месяц', 'C1':'KOD'})
i2 = i2.rename(columns = {'C3':'Объем отчетный месяц', 'C4':'Запасы отчетный месяц', 'TEMP2':'соотн отчетный месяц', 'C1':'KOD'})
# переименование столбцов НАТУРА
i3 = i3.rename(columns = {'C10':'Запасы_нат предыдущий месяц', 'C17':'KOD_PROD', 'C12':'KOD'})
i4 = i4.rename(columns = {'C10':'Запасы_нат отчетный месяц', 'C17':'KOD_PROD', 'C12':'KOD'})

In [10]:
#Объединение
sp_nat = pd.merge(sp_nat, i3, how = 'left', on = ['KOD', 'KOD_PROD'])

In [11]:
sp_nat

,KOD,KOD_PROD,NAME_PROD,g1,Запасы_нат предыдущий месяц
0,58087295000,29.10.4,"Автомобили грузовые, штук",5403.0,1099.0
1,58087295000,29.10.5,"Автомобили специального назначения, штук",5453.0,72.0
2,58087295000,28.92.29,Автомобили-самосвалы для эксплуатации в услови...,5098.0,70.0
3,58087295000,29.10.30.001,"Автобусы, штук",5380.0,67.0
4,58087126000,28.92.27.200,"Землевозы (самосвалы карьерные), штук",6239.0,81.0
...,...,...,...,...,...
315,55423494000,11.03.10,Напитки ферментированные прочие (сидр яблочный...,958.0,21.0
316,55423494000,20.14.74.110,Спирт этиловый ректификованный из пищевого сыр...,2139.0,60.0
317,4538362000,10.51.40.500,"Сыры твердые, сыры в порошке, сыры голубые и с...",402.0,346.0
318,4538362000,10.99.03,Цельномолочная продукция (в пересчете на молок...,879.0,21.0
319,4538362000,10.51.30,"Масло сливочное и пасты молочные, т",388.0,16.0

In [12]:
#Объединение
sp_nat = pd.merge(sp_nat, i4, how = 'left', on = ['KOD', 'KOD_PROD'])

In [13]:
#довавляем новый столбец разница соотношений
sp_nat['разница запасов_нат'] = (sp_nat['Запасы_нат отчетный месяц'] -  sp_nat['Запасы_нат предыдущий месяц']).round(1)

In [14]:
#!!! ИТОГ НАТУРА
sp_nat = sp_nat[["KOD", "KOD_PROD", "NAME_PROD", "Запасы_нат предыдущий месяц", "Запасы_нат отчетный месяц", 'разница запасов_нат', "g1"]]

In [15]:
sp_nat

,KOD,KOD_PROD,NAME_PROD,Запасы_нат предыдущий месяц,Запасы_нат отчетный месяц,разница запасов_нат,g1
0,58087295000,29.10.4,"Автомобили грузовые, штук",1099.0,1140.0,41.0,5403.0
1,58087295000,29.10.5,"Автомобили специального назначения, штук",72.0,65.0,-7.0,5453.0
2,58087295000,28.92.29,Автомобили-самосвалы для эксплуатации в услови...,70.0,129.0,59.0,5098.0
3,58087295000,29.10.30.001,"Автобусы, штук",67.0,76.0,9.0,5380.0
4,58087126000,28.92.27.200,"Землевозы (самосвалы карьерные), штук",81.0,102.0,21.0,6239.0
...,...,...,...,...,...,...,...
315,55423494000,11.03.10,Напитки ферментированные прочие (сидр яблочный...,21.0,24.0,3.0,958.0
316,55423494000,20.14.74.110,Спирт этиловый ректификованный из пищевого сыр...,60.0,89.0,29.0,2139.0
317,4538362000,10.51.40.500,"Сыры твердые, сыры в порошке, сыры голубые и с...",346.0,581.0,235.0,402.0
318,4538362000,10.99.03,Цельномолочная продукция (в пересчете на молок...,21.0,37.0,16.0,879.0
319,4538362000,10.51.30,"Масло сливочное и пасты молочные, т",16.0,47.0,31.0,388.0

In [16]:
# переименование столбцов стоим
ok1 = ok1.rename(columns = {'C4':'Запасы предыдущий месяц', 'TEMP2':'соотн предыдущий месяц', 'C1':'KOD'})
ok2 = ok2.rename(columns = {'C4':'Запасы отчетный месяц', 'TEMP2':'соотн отчетный месяц', 'C1':'KOD'})

In [17]:
#объединить стоим
merge_i = pd.merge(i1, i2, how = 'left', on = ['KOD'])

In [18]:
merge_i = pd.merge(merge_i, sp1, how = 'left', on = ['KOD'])

In [19]:
merge_i = merge_i[["OKOGU_H", "KOD", "NAME", "Запасы отчетный месяц", "Запасы предыдущий месяц","соотн отчетный месяц",  "соотн предыдущий месяц"]]

In [20]:
merge_i.isna().any()

OKOGU_H                     True
KOD                         True
NAME                        True
Запасы отчетный месяц       True
Запасы предыдущий месяц    False
соотн отчетный месяц        True
соотн предыдущий месяц     False
dtype: bool

In [21]:
merge_i.isna().count()

OKOGU_H                    1465
KOD                        1465
NAME                       1465
Запасы отчетный месяц      1465
Запасы предыдущий месяц    1465
соотн отчетный месяц       1465
соотн предыдущий месяц     1465
dtype: int64

In [22]:
merg = merge_i.dropna()

In [23]:
merg.isna().any()

OKOGU_H                    False
KOD                        False
NAME                       False
Запасы отчетный месяц      False
Запасы предыдущий месяц    False
соотн отчетный месяц       False
соотн предыдущий месяц     False
dtype: bool

In [24]:
merg.isna().count()

OKOGU_H                    1393
KOD                        1393
NAME                       1393
Запасы отчетный месяц      1393
Запасы предыдущий месяц    1393
соотн отчетный месяц       1393
соотн предыдущий месяц     1393
dtype: int64

In [27]:
#довавляем новый столбец Разница запасов
merg['разница запасов'] = merg['Запасы отчетный месяц'] - merg['Запасы предыдущий месяц']

C:\Users\Svetlana.Cherkas\AppData\Local\Temp\ipykernel_8868\1734358583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merg['разница запасов'] = merg['Запасы отчетный месяц'] - merg['Запасы предыдущий месяц']

In [28]:
merg = merg[merg['разница запасов'] > 300.0]

In [30]:
#довавляем новый столбец разница соотношений
merg['разница соотн'] = merg['соотн отчетный месяц'] - merg['соотн предыдущий месяц']
merg = merg[merg['разница соотн'] > 0.0]

C:\Users\Svetlana.Cherkas\AppData\Local\Temp\ipykernel_8868\319900045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merg['разница соотн'] = merg['соотн отчетный месяц'] - merg['соотн предыдущий месяц']

In [31]:
merg.head()

,OKOGU_H,KOD,NAME,Запасы отчетный месяц,Запасы предыдущий месяц,соотн отчетный месяц,соотн предыдущий месяц,разница запасов,разница соотн
10,33710.0,1.370123e+09,"╨╙╧ ""╧╨╬╚╟┬╬─╤╥┬┼══╬┼ ╬┴┌┼─╚═┼═╚┼ ""┴┼╦╬╨╙╤═┼╘╥▄""",10146.0,6703,5.8,3.1,3443.0,2.7
19,33150.0,1.959956e+09,"╬└╬ ""┴┼╦╓┬┼╥╠┼╥""",3861.0,3059,29.0,22.0,802.0,7.0
20,33710.0,2.033586e+09,"╬└╬ ""╟└┬╬─ ├╬╨═╬├╬ ┬╬╤╩└""",6324.0,3437,70.7,40.9,2887.0,29.8
25,33710.0,2.040563e+09,"╬└╬ ""╤┬┼╥╦╬├╬╨╤╩╒╚╠┬╬╦╬╩═╬""",39647.0,37853,103.5,98.5,1794.0,5.0
26,33710.0,2.040797e+09,"╬└╬ ""╠╬├╚╦┼┬╒╚╠┬╬╦╬╩═╬""",37590.0,31336,54.0,45.0,6254.0,9.0

In [32]:
m2 = merg[(merg['OKOGU_H'] == 33150)|(merg['OKOGU_H'] == 33020)|(merg['OKOGU_H'] == 33510)|(merg['OKOGU_H'] == 33050)|(merg['OKOGU_H'] == 33720)|(merg['OKOGU_H'] == 33730)|(merg['OKOGU_H'] == 33710)|(merg['OKOGU_H'] == 33700)|(merg['OKOGU_H'] == 331710)|(merg['OKOGU_H'] == 62012)|(merg['OKOGU_H'] == 62021)]

In [34]:
m2 = pd.merge(m2, sps, how = 'left', on = ['OKOGU_H'])

In [36]:
m2 = m2[["KNAME_H","OKOGU_H",  "NAME", "Запасы отчетный месяц", "Запасы предыдущий месяц","соотн отчетный месяц",  "соотн предыдущий месяц", "разница запасов", "разница соотн", "KOD"]]

In [71]:
m2 = m2.sort_values(['OKOGU_H', 'разница запасов'], ascending = [True, False])

In [73]:
m3 = m2.groupby(['OKOGU_H']).head(10)

In [87]:
s2 = pd.merge(m3, sp_nat, how = 'left', on = ['KOD'])

In [89]:
s2.to_excel("3.xlsx")

In [111]:
#ОКОГУ
ok3 = pd.merge(ok1, ok2, how = 'left', on = ['KOD'])

In [112]:
ok3 = ok3.rename(columns = {'KOD':'OKOGU_H'})

In [113]:
#довавляем новый столбец разница запасов
ok3['разница запасов'] = (ok3['Запасы отчетный месяц'] - ok3['Запасы предыдущий месяц'])/1000

In [114]:
#довавляем новый столбец разница соотношений
ok3['разница соотн'] = ok3['соотн отчетный месяц'] - ok3['соотн предыдущий месяц']

In [115]:
# задаем  следующий порядок следования столбцов 
ok3 = ok3[["OKOGU_H", "Запасы предыдущий месяц", "Запасы отчетный месяц",  "разница запасов", "соотн предыдущий месяц", "соотн отчетный месяц", "разница соотн"]]

In [116]:
ok3['Запасы отчетный месяц'] = ok3['Запасы отчетный месяц']/1000
ok3['Запасы предыдущий месяц'] = ok3['Запасы предыдущий месяц']/1000

In [118]:
# задаем  следующий порядок следования столбцов 
ok33 = ok3[["OKOGU_H", "Запасы предыдущий месяц", "Запасы отчетный месяц",  "разница запасов"]]

In [120]:
# добавляем новый столбец 
ok33['g1'] = 3

C:\Users\Svetlana.Cherkas\AppData\Local\Temp\ipykernel_8868\3133381688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ok33['g1'] = 3

In [125]:
# переименование столбцов 
ok33 = ok33.rename(columns = {'Запасы предыдущий месяц':'1', 'Запасы отчетный месяц':'2', 'разница запасов':'3'})

In [127]:
# добавляем новый столбец 
ok33['NAME'] = 1

In [131]:
# задаем  следующий порядок следования столбцов 
ok34 = ok3[["OKOGU_H", "соотн предыдущий месяц", "соотн отчетный месяц",  "разница соотн"]]
# добавляем новый столбец 
ok34['g1'] = 4
# переименование столбцов 
ok34 = ok34.rename(columns = {'соотн предыдущий месяц':'1', 'соотн отчетный месяц':'2', 'разница соотн':'3'})
# добавляем новый столбец 
ok34['NAME'] = 1

C:\Users\Svetlana.Cherkas\AppData\Local\Temp\ipykernel_8868\3489894561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ok34['g1'] = 4

In [143]:
# !!! ИТОГ ПО ОКОГУ
ok35 = pd.concat([ok34, ok33])
# добавляем новый столбец 
ok35['KOD'] = 0
ok35['NAIMEN'] = 0
ok35 = pd.merge(ok35, sps, how = 'right', on = ['OKOGU_H'])
ok35 = ok35[["KNAME_H", "OKOGU_H", "NAME", "1", "2", "3", "g1", "KOD", "NAIMEN"]]

In [194]:
ok35 =ok35.sort_values(['OKOGU_H', 'g1'], ascending = [True, True])

In [195]:
m33 = s2[["KNAME_H", "OKOGU_H", "NAME", "Запасы предыдущий месяц", "Запасы отчетный месяц",  "разница запасов", "KOD"]]

In [196]:
m33 = m33.drop_duplicates(keep='first')

In [197]:
# добавляем новый столбец 
m33['g1'] = 1

In [201]:
m33 = m33.rename(columns = {'Запасы предыдущий месяц':'1', 'Запасы отчетный месяц':'2', 'разница запасов':'3'})

In [204]:
# задаем  следующий порядок следования столбцов merge2
m34 = s2[["KNAME_H", "OKOGU_H", "NAME", "соотн предыдущий месяц", "соотн отчетный месяц", "разница соотн", "KOD"]]
m34 = m34.drop_duplicates(keep='first')
# добавляем новый столбец 
m34['g1'] = 2
m34 = m34.rename(columns = {'соотн предыдущий месяц':'1', 'соотн отчетный месяц':'2', 'разница соотн':'3'})

In [223]:
#подключаем натуру
# задаем  следующий порядок следования столбцов 
m35 = s2[["KNAME_H", "OKOGU_H", "NAME", "Запасы_нат предыдущий месяц", "Запасы_нат отчетный месяц", "разница запасов_нат", "g1", "KOD"]]
m35 = pd.merge(m35, pok1, how = 'left', on = ['g1'])
m35 = m35.rename(columns = {'Запасы_нат предыдущий месяц':'1', 'Запасы_нат отчетный месяц':'2', 'разница запасов_нат':'3'})
# удалить определ столбец
m35 = m35.drop(columns=['KOD_PROD'], axis = 1)

In [236]:
# создание итоговой таблицы
b1 = pd.concat([m34, m33, m35])

In [246]:
b1 = b1.sort_values(['OKOGU_H', '3', 'g1'], ascending = [True, False, True])

In [264]:
# создание итоговой таблицы
q11 = pd.concat([b1, ok35])

In [265]:
# переименование столбцов 
q1 = q11.rename(columns = {'1':'Запасы предыдущий месяц', '2':'Запасы отчетный месяц', '3':'Прирост(+), снижение (-)'})

In [266]:
q1 = pd.merge(q1, pok1, how = 'left', on = ['g1'])

In [267]:
q1 = q1.sort_values(['OKOGU_H', 'Прирост(+), снижение (-)', 'g1'], ascending = [True, False, True])

In [283]:
q1

,KNAME_H,OKOGU_H,NAME,Запасы предыдущий месяц,Запасы отчетный месяц,"Прирост(+), снижение (-)",NAIMEN,g1
282,╤шёЄхьр ╠шэёхы№їючяЁюфр,90.0,1,627.983,817.910,189.927,"в фактических ценах, млн. рублей",3.0
283,╤шёЄхьр ╠шэёхы№їючяЁюфр,90.0,1,43.600,53.400,9.800,в процентах к среднемесячному объему производства,4.0
0,╠шэёЄЁющрЁїшЄхъЄєЁ√,33020.0,"╬└╬ ""├╬╠┼╦▄╤╥┼╩╦╬""",56805.000,63096.000,6291.000,"в фактических ценах, тыс. рублей",1.0
1,╠шэёЄЁющрЁїшЄхъЄєЁ√,33020.0,"╬└╬ ""├╨╬─═┼═╤╩╚╔ ╤╥┼╩╦╬╟└┬╬─""",8097.000,13048.000,4951.000,"Бутылки, банки, флаконы и тара из стекла проча...",2785.0
2,╠шэёЄЁющрЁїшЄхъЄєЁ√,33020.0,"╬└╬ ""┴┼╨┼╟└╤╥╨╬╔╠└╥┼╨╚└╦█""",27683.000,32184.000,4501.000,"в фактических ценах, тыс. рублей",1.0
...,...,...,...,...,...,...,...,...
281,╩юьшЄхЄ√ яю ёхы№ёъюьє їюч щёЄтє ш яЁюфютюы№ёЄт...,62012.0,"╬└╬ ""─▀╥╦╬┬╤╩╚╔ ╦╚╩┼╨╬-┬╬─╬╫═█╔ ╟└┬╬─ ""└╦├╬═▄""",21.000,24.000,3.000,Напитки ферментированные прочие (сидр яблочный...,958.0
304,╙яЁртыхэш (юЄфхы√) яю ёхы№ёъюьє їюч щёЄтє ш я...,62021.0,1,2.910,3.048,0.138,"в фактических ценах, млн. рублей",3.0
305,╙яЁртыхэш (юЄфхы√) яю ёхы№ёъюьє їюч щёЄтє ш я...,62021.0,1,32.400,31.400,-1.000,в процентах к среднемесячному объему производства,4.0
306,▐Ёшфшўхёъшх ышЎр схч тхфюьёЄтхээющ яюфўшэхээюёЄш,86090.0,1,2014.248,2162.058,147.810,"в фактических ценах, млн. рублей",3.0
307,▐Ёшфшўхёъшх ышЎр схч тхфюьёЄтхээющ яюфўшэхээюёЄш,86090.0,1,79.700,95.800,16.100,в процентах к среднемесячному объему производства,4.0

In [282]:
q1 = q1.rename(columns = {'NAIMEN_y':'NAIMEN'})
q1 = q1[["KNAME_H", "OKOGU_H", "NAME", "Запасы предыдущий месяц", "Запасы отчетный месяц",  "Прирост(+), снижение (-)", "NAIMEN", "g1"]]

In [285]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 282 to 307
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   KNAME_H                   308 non-null    object
 1   OKOGU_H                   308 non-null    float64
 2   NAME                      308 non-null    object
 3   Запасы предыдущий месяц   307 non-null    float64
 4   Запасы отчетный месяц     308 non-null    float64
 5   Прирост(+), снижение (-)  307 non-null    float64
 6   NAIMEN                    308 non-null    object
 7   g1                        308 non-null    float64
dtypes: float64(5), object(3)
memory usage: 21.7+ KB

In [ ]:
li = [] # бкогда будем пробегаться будет возникать список из двух элементов
# первый элемент печатать а второй записываем в список li страны

for i in it:
    print (i[0])
    li.append(i[1])

In [286]:
li = []
for i in int(q1['OKOGU_H']):
    print (i[0])
    li.append(i[1])

TypeError: cannot convert the series to <class 'int'>

In [ ]:
for (i in ministries1) {
  writeData(result11, "sheet1", i, 1, pos_to_write1+1)
  pos_to_write1 <- pos_to_write1 + 2
  w_d <- arrange(qq1[qq1$KNAME_H == i & qq1$NAME == '1', c(7, 4:6, 8)], g1)
  writeData(result11, "sheet1", w_d[,1:4], 1, pos_to_write1, colNames = FALSE)
  pos_to_write1 <- pos_to_write1 + 2
  fabrics<-unique(qq1$NAME[qq1$KNAME_H == i])
  fabrics <- fabrics[fabrics != "1"]
  #if (length(fabrics) > 7) fabrics <- fabrics[1:7]
  for (j in fabrics) {
    writeData(result11, "sheet1", j, 1, pos_to_write1)
    pos_to_write1 <- pos_to_write1 + 1
    w_d <- arrange(qq1[qq1$KNAME_H == i & qq1$NAME == j, c(7, 4:6, 8)], g1)
    writeData(result11, "sheet1", w_d[,1:4], 1, pos_to_write1, colNames = FALSE)
    pos_to_write1 <- pos_to_write1 + nrow(qq1[qq1$KNAME_H == i & qq1$NAME == j, 1])
  }
}
saveWorkbook(result11, "result11.xlsx", overwrite = TRUE)

In [ ]:
# Сводная таблица
pt = q1.pivot_table(values = 'Balance', index = 'Geography', columns = ['Gender', 'Exited'], aggfunc = 'mean')

In [41]:
merge_i['KOD'].astype('int64')# не сработало

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [169]:
sp = sp.loc[sp['P7'] == 1]

In [171]:
#merge['Объем предыдущий месяц'].round(0)

In [172]:
#merge['Объем предыдущий месяц'] = merge['Объем предыдущий месяц'] // 10

In [197]:
merg = merge.dropna()

In [118]:
#itog_zap['ср.мес V_предыдущ месяц'] = itog_zap['ср.мес V_предыдущ месяц'].astype('int')
#itog_zap.dtypes